@import '../global/variables';
@import '../global/mixin';
@import '../global/mq';
@import '../global/social-connect';
@import '../global/faq-section';
@import '../global/steps';

.hero-section
{
    .hero-text
    {
        .subtext
        {
            margin: 0 0 20px;
        }
    }
    .hero-image
    {
        .hero-img
        {
            @include mq($from:wide)
            {
                left: 70%;
            }
        }
    }
}

.FAQ-section
{
    background: $-white;
    .white-shadow
    {
        @include linear-gradient(180deg, rgba(235, 235, 235, 0.2) 0%, #EBEBEB 100%);  //gray-shadow
    }
}
.focused-approach
{
    .btn
    {
        width: 253px;
    }














    
    .approach-title
    {
        text-align: center;
        margin-bottom: 60px;
        @include mq($until:tablet)
        {
            text-align: left;
            margin-bottom: 40px;
        }
        h2
        {
            @include mq($until:tablet)
            {
                // font-size: 24px;
                // margin-bottom: 10px;
            } 
        }
        p
        {
            max-width: 976px;
            margin: 0 auto;
            @include mq($until:tablet)
            {
                // font-size: 15px;
                // line-height: 21.3px;
            } 
        }
    }
}

// **************** Steps *****************
.steps-container
{
    ul.tl{
        li
        {
            width: calc(50% + 12px);
            margin: unset;
            padding: 0 34px 0 0;
            margin-left: auto;
            padding: 0 0 0 34px;
            @include mq($until:desktop)
            {
                width: 100%;
                padding: 0 0 40px 34px;
            }
            &:nth-child(odd)
            {
                @include mq($from:desktop)
                {
                    margin-left: 0;
                    padding: 0 34px 0 0;
                }
                &:before
                {
                    right: 0;
                    left: auto;
                    @include mq($until:desktop)
                    {
                        right: auto;
                        left: 0;
                    }
                }
                &:after{
                    right: 11px;
                    left: auto;
                    @include mq($until:desktop)
                    {
                        right: auto;
                        left: 11px;
                    }
                }
            }
            .card
            {
                img,svg
                {
                    width: 60px;
                    @include mq($until:tablet)
                    {
                        width: 42px;
                    }
                }
                p
                {
                    color: $-secondary;
                    @include mq($until:tablet)
                    {
                        font-size: 16px;
                        line-height: 142%;
                    } 
                }
            }
            .steps-title
            {
                @include flex;
                @include justify-space-between;
                @include align-center;
                gap:30px;
                margin-bottom: 10px;
                h3, p, h4, h5
                {
                    margin-bottom: 0;
                }
                img{
                    @include align-self-start;
                }
            }
        }
    }
}

    