@import '../global/variables';
@import '../global/mixin';
@import '../global/mq';
@import '../global/steps';
@import '../global/review-star';
@import '../pages/faq';


.main-header{
    background-color: transparent;
    padding: 29px 0;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    @include mq($until: wide){
        padding:20px 0;
    }
    @include mq($until: tablet)
    {
        padding: 15px 0;
    }
    .container{
        position: relative;
        padding-left: 0;
        padding-right: 0;
    }
    .back-arrow-head{
        @include flex-none;
        width: 40px;
        font-size: 24px;
        position: absolute;
        left: 0;
        top: 50%;
        @include transform(translateY(-50%));
    }
    .logo{
        text-align: center;
        margin: 0 auto;
        img, svg{
            width: 181px;
            @include mq($until: tablet) {
                 width: 150px;
             }
        }
    }
}
.start-consulation-hero
{
    overflow: hidden;
    margin-top: -100px;
   padding-top:27px;
   padding-bottom: 70px;
   background-image: url(../../images/start-consulation-ring-bg.svg);
   background-repeat: no-repeat;
   background-position: top -32px right -372px;
   @include mq($until:wide)
   {
   }
    @include mq($until:desktopLarge)
    {
        background-size: 860px;
    }
    @include mq($until:desktop){
       padding-bottom: 50px; 
    }
    @include mq($until:tablet){
        padding-top: 20px;
        background-image: none;
        margin-top: 0;
    }
    .container{
        max-width: 771px;
    }
    .hero-text
    {    margin-top: 100px;
        @include mq($until: tablet) {
            margin-top: 0;
        }
        h1
        {
            margin: 0 0 20px;
           @include mq($until:desktop)
           {
            font-size: 34px;
           }
           @include mq($until:tablet)
           {
            margin: 0 0 10px;
            font-size: 24px;
           }
        }
        .subtext
        {
            margin: 0 0 20px; 
            font-size: 20px;
            line-height: 28px;
            @include mq($until:desktop)
            {
                font-size: 18px;
                line-height: 25px;
            }
            @include mq($until:tablet)
            {
                margin: 0; 
            }
        }
        .btn{
            max-width: 335px;
            width: 100%;
        }
        .terms-text{
            text-align: center;
            line-height: 21px;
            margin-top: 40px;
            @include mq($until:tablet)
            {
               margin-top: 30px;
            }
            p{
                &:not(:last-child){
                    margin-bottom: 10px;
                }
            }
            a{
                color:$-gray-4;
                text-decoration: underline;
                &:hover{
                    color:$-secondary;
                }
            }
        }
    }
    .pharmacy-rating-wraper{
        @include flex;
        @include flex-wrap;
        @include justify-center;
        gap: 10px 40px;
        margin-top: 40px;
        @include mq($until:tablet)
        {
           margin-top: 30px;
        }
    }
    .registered-pharmacy
    {
        text-align: center;
        padding:14px;
        border-radius: 20px;
        background-color: rgba($-white,0.8);
        @include linear-gradient(112.34deg, rgba(249, 244, 241, 0.7) 62.6%, rgba(249, 244, 241, 0) 103.64%);
        width: 240px;
        max-width: 100%;
        @include backdrop-filter(blur(2px));
        z-index: 1;
        @include mq($until: tablet) {
            padding: 9px 14px;
        }
        img{
            max-width: 103px;
            //max-height: 34px;
        }
        p
        {
            margin-bottom: 10px;
            font-size: 12px;
            line-height: 124%;
        }
    }
    .hero-rating-box{
        text-align: center;
        padding:10px;
        border-radius: 10px;
        background-color: rgba($-white,0.8);
        border: 1px solid #EBEBEB;
        width: 360px;
        max-width: 100%;
        font-size: 20px;
        @include flex;
        @include align-center;
        @include mq($until: tablet) {
            font-size: 16px;
        }
        .rating-box{
            border-right: 1px solid $-gray-2;
            .review-rate{
                margin-top: 5px;
                @include justify-center;
                .star{
                    width: 16px;
                    height: 16px;
                    margin-right: 2px;
                }
            }
        }
    }
   
}
.steps-container{
    padding: 0 50px;
    @include mq($until: tablet) {
        padding: 0;
    }
    ul.tl{
        li {
            .card{
                // max-width: 571px;
                 svg, img{
                     -webkit-box-flex: 0;
                     -ms-flex: 0 0 auto;
                     flex: 0 0 auto;
                 }
             }
        }
    }
}

.legal-content-drawer{
    .modal-content {
        font-size: 18px;
        line-height: 148%;
        background-color: $-white;
    }
    .talk-with-clinician{
        display: none;
    }
    .container{
        padding-top:20px;
    }
    .policy-wrapper{
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        p{
            font-size: 18px;
            line-height: 148%;
        }
        ul li{
            font-size: 18px;
            line-height: 148%;
        }
    }
    .card-icon-list {
        .card-icon{
            background-color: transparent;
            .custom-accordion-title{
                padding: 0 0 20px !important;
            }
            .custom-accordion-content{
                padding: 0 0 20px 20px !important;
            }
        }
    }
    .accordion-block .custom-accordion-content{
        display: block !important;
    }
    .accordion-block {
        border: 0 !important;
    }
    .custom-accordion-title{
        &.t-open{
           // color: $-primary !important;
        }
        .icon{
            display: none;
        }
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 18px;
    }
    h5{
        font-size: 16px;
    }
    h2, h3, h4, h5, h6{
        margin: 15px 0;
        cursor: default;
    }
    .loader-block{
        width: 100%;
        height: calc(100vh - 67px);
       @include flex;
       @include align-center;
       @include justify-center;
    }
}