.card-icon-list{
    .card-icon
    {
        background: $-white;
        color:$-secondary;
        width: 100%;
        padding:24px;
        border-radius: 12px;
        margin-bottom: 12px;
        @include flex;
        @include align-start;
        &:last-child{
            margin-bottom: 0;
        }
        @include mq($until : tablet)
        {
            padding: 15px;
        }
        img,svg
        {
            margin-right: 16px;
            margin-left: 0;
            width: 60px;
            @include mq($until : tablet)
            {
                width: 42px;
            }
        }
        .text-icon
        {
            h5, .h5{
                margin-bottom: 15px;
            }
           p
           {
            @include mq($until : tablet)
            {
                font-size: 16px;
                line-height:142%;
                &.font-20px{
                    font-size: 15px;
                }
            }
            &:not(:last-child){
                margin-bottom: 12px;
            }
           }
           
        }
        .arrow-right{
            @include align-self-center;
            font-size: 32px;
            padding: 12px 24px;
            margin-left: auto;
            @include mq($until : tablet)
            {
                font-size: 20px;
                padding: 0;
                margin-top:16px;
            }
        }
        > a
        {
            font-size: 15px;
            padding: 0 10px;
            @include fontSemiBold;
            @include col-auto;
            margin-left: 20px;
            @include mq($until : tablet)
            {
                width: 100%;
                margin-top: 15px;
                margin-left: 0;
            }
        }
    }
}

.talk-with-clinician
{
    @include box-shadow(6px 11px 24px 0px #00000026);
    background: $-white;
    border-radius: 20px;
    padding: 30px;
    margin-top: 40px;
    @include mq($until : tablet){
        padding: 25px 20px;
    }
    p
    {
        font-size: 22px;
        line-height: 150%;
        @include mq($until : desktop)
        {
            font-size: 20px;
        }
        @include mq($until : tablet)
        {
            font-size: 18px;
            max-width: 100%;
        }
    }
    
    .clinician-time-btn {
        margin-top: 20px;
        @include mq($until : tablet){
            margin-top: 30px;
        }
        span
        {
            @include fontSemiBold;
            i
            {
                @include fontSemiBold;
                margin-right: 5px;
                font-size: 24px;
            }
            @include mq($until : tablet)
            {
                align-items: start;
                width: 100%;
                margin-bottom: 30px;
                margin-right: 0 !important;
            }
        }
        .btn
        {
            @include mq($until : tablet)
            {
                width: 100%;
                max-width: 300px;
            }
        }
    }
    
}
