$fontPath: '../fonts';
$ImgPath: '../images';

$min_width: 375px;
$max_width: 1280px;
$min_font: 18px;
$max_font: 18px;

$-primary: #5D3FD3; //$-primary-6 
$-secondary: #202020; //$-gray
$-white: #ffffff;
//$-red: #EA6E6C;  //$-red-4 
//$-green: #86D38D; //$-green-4
//$-yellow: #F5D95F; //$-yellow-4
//$-orange: #F5A75F; //$-orange-4
//$-teal: #4EBBDE;  //$-teal-5
$-charcoal-60: #7E7E84;
        
$-gray:#202020; // secondary
$-gray-8:#282832; 
$-gray-7:#D9D9D9;
$-gray-6:#262626;
$-gray-5:#4A4A4A;
$-gray-4:#6D6D6D;
$-gray-3:#AFAFAF;
$-gray-2:#DFDFDF;
$-gray-1:#EBEBEB;

$-light-yellow : #915F6D;

$-brown: #915F6D;
$-light-brown:#CBC3E3;

$-success : #48BC52;
$-danger: #EA6E6C;
$-warning:#915F6D;




